{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load shop_tags %}
{% block content %}
<div class="container">
{% if none %}
<p>Error in receiving orders </p>
{% else %}
<div class="shopper-info">
   <p>Order Details{{ context }}</p>
</div>
   <section class="cart_items">
      <div class="container">
         <div class="breadcrumbs">
            <ol class="breadcrumb">
            </ol>
         </div>
         <div class="shopper-informations">
         <section id="do_action">
            <div class="row">
               <div class="col-sm-3">
                 <div class="bill-to">
                  <p><u>Billing Address:</u><br>
                     {% for list in list_b %}
                     {{ list }}
                  </p>
                  {% endfor %}
                 </div>
               </div>
               <div class="col-sm-3">
                  <div class="bill-to">
                     <p><u>Shipping Address:</u><br>
                        {% for list in list_s %}
                        {{ list }}
                     </p>
                     {% endfor %}
                  </div>
               </div>
               <div class="col-sm-6">
               <div class="total_area">
                  <ul>
                     <li>Order Sub Total <span>{{ order.order_subtotal }}</span></li>
                     <li>Eco Tax <span>$0</span></li>
                     <li>Shipping Cost <span>Free</span></li>
                     <li>Sum Total <span>{{ order.order_total }}</span></li>
                  </ul>
               </div>
               </div>
            </div>
          </section>
         </div>
         <div class="review-payment">
            <h2>Review</h2>
         </div>
         <div class="table-responsive cart_info">
            <table class="table table-condensed">
               <thead>
                  <tr class="cart_menu">
                     <td class="image">Image</td>
                     <td class="description">Item</td>
                     <td class="price">Price</td>
                     <td class="quantity">Quantity</td>
                     <td class="total">Total</td>
                     <td></td>
                  </tr>
               </thead>
               <tbody>
                  {% for order_item in order_items %}
                  <tr>
                     <td class="cart_product">
                        <a href=""><img src="/static/{{ order_item.product.image }}" alt=""></a>
                     </td>
                     <td class="cart_description">
                        <h4><a href="">{{ order_item.product_name }}</a></h4>
                        <p>Web ID: {{ order_item.product_id }}</p>
                     </td>
                     <td class="cart_price">
                        <p>{{ order_item.unit_price }}</p>
                     </td>
                     <td class="cart_quantity">
                        <div class="class_quantity_button">
                           <p>{{ order_item.quantity }}</p>
                        </div>
                     </td>
                     <td class="cart_total">
                        <p class="cart_total_price">{{ order_item.line_total }}</p>
                     </td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
         <div class="payment-options">
             <a class="btn btn-primary" href="/shop/pay/braintree" style="float: right">Continue</a>
         </div>
      </div>
   </section>
   {% endif %}
</div>
{% endblock %}