{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load shop_tags %}
{% block content %}
<section>
   <div class="container">
      <div class="shopper-informations">
         <div class="row">
            <form method="POST">
               <div class="shopper-info">
                  <div class="col-sm-6">
                     <p>Shopper Information</p>
                     {% csrf_token %}
                     <div class="form-one">
                        {{ shipping_address.as_p }}
                     </div>
                     <div class="form-two">
                        {{ billing_address.as_p }}
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <br>
                     {{ billing_shipping_form.as_p }}
                     {{ extra_info_form.as_p }}
                     <div class='button-right'>
                        <button type="submit" class="btn btn-primary">Checkout</button>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</section>
{% endblock %}