{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% block content %}
<div class="container">
<div class="shopper-informations">
    <p>Thank you for your order!</p>
    <p>Your order has been placed</p>
    <a href="/">Back to the main page</a>
</div>
</div>
{% endblock %}

