{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load shop_tags %}
{% load url from future %}
{% load wishlist_tags %}
{% block content %}
<link href='{% static "css/style.css" %}' rel="stylesheet">
<div>
<section>
<div>
   <div class="container">
      <div class="row">
         <div class="col-sm-2">
            <div class="single-widget">
               <h2>My Account</h2>
               <ul class="nav nav-pills nav-stacked">
                  <li><a href="#" onclick="dashboard()">DashBoard</a></li>
                  <li><a href="#" onclick="information()">Information</a></li>
                  <li><a href="#" onclick="address()">Address</a></li>
                  <li><a href="#" onclick="orders()">Orders</a></li>
                  <li><a href="#" onclick="wishlist()">Wishlists</a></li>
                  <li><a href="#" onclick="creditcard()">Credit Cards</a></li>
                  <li><a href="#">Store Credit</a></li>
                  <li><a href="#">Gift Card</a></li>
               </ul>
            </div>
         </div>
         <div id="div_dashboard" class="features_items items_block">
            <div class="col-sm-3">
               <div class="shopper-info">
                  <p>Shopper Information</p>
                  <form>
                     <input type="text" placeholder="{{user.first_name}}">
                     <input type="text" placeholder="{{user.last_name}}">
                     <input type="text" placeholder="Mobile">
                     <input type="text" placeholder="other number">
                  </form>
                  <a class="btn btn-primary" href="#">Update</a>
               </div>
            </div>
         </div>
         <div id="div_information" class="features_items items_none">
            <div class="shopper-info">
               <p>Shopper Information</p>
            </div>
         </div>
         <div id="div_address" class="features_items items_none">
            <div class="shopper-info">
               <p>Shopper Address</p>
            </div>
         </div>
            <div id="div_orders" class="features_items items_none">
               {% if orders %}
                <div class="shopper-info">
                  <p>My Orders</p>
                  <section class="cart_items">
                  <div class="table-responsive cart_info">
                     <table class="table table-condensed">
                        <thead>
                           <tr class="cart_menu">
                              <td class="image">Order Id</td>
                              <td class="description">Date&Time</td>
                              <td class="total">Total</td>
                              <td class="description">Get Details</td>
                           </tr>
                        </thead>
                        <tbody>
                           {% for order in orders %}
                           <tr>
                              <td class="cart_product">
                                 <p>Web ID: {{ order.id }}</p>
                              </td>
                              <td class="cart_description">
                                 <p> {{ order.modified }}</p>
                              </td>
                              <td class="cart_price">
                                 <p>{{ order.order_total }}</p>
                              </td>
                              <td class="cart_total">
                                 <a class="btn btn-primary" href="{{ order.get_absolute_url }}"><i class="fa fa-shopping-cart"></i>Get Details</a>
                              </td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
               </section>
               </div>
              {% else %}
                     <p>Sorry, you have ZERO ORDERS yet!</p>
              {% endif %}
            </div>
         <div id="div_creditcard" class="features_items items_none">
            <div class="shopper-info">
               <div class="features_items">
                  <p>My Credit Cards</p>

                  <section class="cart_items">
                     <div class="table-responsive cart_info">
                        <table class="table table-condensed">
                           <thead>
                              <tr class="cart_menu">
                                 <td class="image">Type</td>
                                 <td class="description">Card Number</td>
                                 <td class="total">Is default</td>
                                 <td class="description">Actions</td>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <td class="cart_product">
                                    <p>Visa</p>
                                 </td>
                                 <td class="cart_description">
                                    <p> 41111*****1111</p>
                                 </td>
                                 <td class="cart_price">
                                    <p>Yes</p>
                                 </td>
                                 <td class="cart_price">
                                    <a href="#">Edit</a>
                                    <a href="#">Delete</a>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </section>
               </div>
            </div>
         </div>
         <div id="div_wishlist" class="features_items items_none">
            <div class="shopper-info">
               <p>Shopper wishlists</p>
               {% if wishlists%}
               <section class="cart_items">
                  <div class="shopper-info">
                     <p> My Wishlist</p>
                     <div class="table-responsive cart_info">
                        <table class="table table-condensed">
                           <thead>
                              <tr class="cart_menu">
                                 <td class="image">Item Id</td>
                                 <td class="description">Get Details</td>
                              </tr>
                           </thead>
                           <tbody>
                              {% for wishlist_item in wishlists %}
                              <tr>
                                 <td class="cart_product">
                                    <p>Web ID: {{ wishlist_item.item_id }}</p>
                                 </td>
                                 <td class="cart_total">
                                    <ul class="nav nav-pills nav-justified">
                                       <li>
                                          <p><a class="btn btn-primary" href="{{ wishlist_item.get_absolute_url }}"><i class="fa fa-shopping-cart"></i>Get Details</a></p>
                                       </li>
                                       <li>
                                          <form action="/en/wishlist/{{wishlist_item.id}}/remove/" method="post">{% csrf_token %}
                                             <button type="submit" class="btn btn-primary">remove</button>
                                          </form>
                                       </li>
                                    </ul>
                                 </td>
                              </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                     </div>
                     <a href="/">Add more item to wishlist</a>
                  </div>
                  {% else %}
                  <p>No items in wishlist</p>
                  <a href="/">Add item to wishlist</a>
               </section>
                  {% endif %}
            </div>
         </div>
      </div>
   </div>
</div>
</section>
</div>
<script src='{% static "js/eshopper.js" %}'></script>
{% endblock %}