<!DOCTYPE html>
{% load static %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load wishlist_tags %}
{% load socialaccount %}
{% providers_media_js %}
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Home | E-Shopper</title>
      {% render_block "css" %}
      <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">
      <link href='{% static "css/style.css" %}' rel="stylesheet">
      <link href='{% static "css/font-awesome.min.css" %}' rel="stylesheet">
      <link href='{% static "css/prettyPhoto.css" %}' rel="stylesheet">
      <link href='{% static "css/price-range.css" %}' rel="stylesheet">
      <link href='{% static "css/animate.css" %}' rel="stylesheet">
      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
      <link href='{% get_static_prefix %}css/main.css?v=0.1' rel="stylesheet">
      <link href='{% static "css/responsive.css" %}' rel="stylesheet">
      <script src='https://code.jquery.com/jquery-1.10.2.js'></script>
      <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <![endif]-->
      <link rel="shortcut icon" href='{% static "images/ico/favicon.ico" %}'>
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href='{% static "images/ico/apple-touch-icon-144-precomposed.png" %}'>
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href='{% static "images/ico/apple-touch-icon-114-precomposed.png" %}'>
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href='{% static "images/ico/apple-touch-icon-72-precomposed.png" %}'>
      <link rel="apple-touch-icon-precomposed" href='{% static "images/ico/apple-touch-icon-57-precomposed.png" %}'>
   </head>
   <!--/head-->
   <body>
      {% cms_toolbar %}
      <header id="header">
      <!--header-->
      <div class="header_top">
         <!--header_top-->
         <div class="container">
            <div class="row">
               <div class="col-sm-6">
                  <div class="contactinfo">
                     <ul class="nav nav-pills">
                        <li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-sm-6">
                  <div class="social-icons pull-right">
                     <ul class="nav navbar-nav">
                        <li><a href='{% provider_login_url "twitter" method="js_sdk" %}'><i class="fa fa-twitter"></i></a></li>
                        <li><a href='{% provider_login_url "facebook" method="js_sdk" %}'><i class="fa fa-facebook"></i></a></li>
                        <li><a href='{% provider_login_url "linkedin" %}'><i class="fa fa-linkedin"></i></a></li>
                        <li><a href='{% provider_login_url "google" method="js_sdk" %}'><i class="fa fa-google-plus"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--/header_top-->
      <div class="header-middle">
         <!--header-middle-->
         <div class="container">
            <div class="row">
               <div class="col-sm-4">
                  <div class="logo pull-left">
                     <a href="/"><img src='{% static "images/home/logo.png" %}' alt="" /></a>
                  </div>
                  <div class="btn-group pull-right">
                     <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                        USA
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                           <li><a href="#">Canada</a></li>
                           <li><a href="#">UK</a></li>
                        </ul>
                     </div>
                     <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                        DOLLAR
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                           <li><a href="#">Canadian Dollar</a></li>
                           <li><a href="#">Pound</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-sm-8">
                  <div class="shop-menu pull-right">
                     <ul class="nav navbar-nav">
                        <li><a href='{% url "checkout_selection" %}'><i class="fa fa-crosshairs"></i> Checkout</a></li>
                        <li><a href='{% url "cart" %}'><i class="fa fa-shopping-cart"></i> Cart</a></li>
                        {% if user.is_authenticated == True %}
                        <li><a href='{% url "logout" %}'><i class="fa fa-lock"></i> Logout</a></li>
                        <li><a href='{% url "account" %}'>{{ user.username }}</a></li>
                        {% else %}
                        <li><a href='{% url "accounts_login" %}'><i class="fa fa-lock"></i> Login</a></li>
                        <li><a href='{% url "signup" %}'><i class="fa fa-user"></i> Sign Up</a></li>
                        {% endif %}
                     </ul>
                     <br>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="header-bottom">
      <!--header-bottom-->
      <div class="container">
         <div class="row">
            <div class="col-sm-9">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
               </div>
               <div class="mainmenu pull-left">
                  <ul class="nav navbar-nav collapse navbar-collapse">
                     <li><a href="/" class="active">Home</a></li>
                     <li class="dropdown">
                        <a href="#">Shop<i class="fa fa-angle-down"></i></a>
                        <ul role="menu" class="sub-menu">
                           <li><a href="{% url 'checkout_selection' %}">Checkout</a></li>
                           <li><a href="{% url 'cart' %}">Cart</a></li>
                           <li><a href="">Product Details</a></li>
                           {% if user.is_authenticated == True %}
                           <li><a href="{% url 'order_list' %}">Your Orders</a></li>
                           <li><a href="{% url 'logout' %}"><i class="fa fa-lock"></i> Logout</a></li>
                           <li><a>{{ user.username }}</a></li>
                           {% else %}
                           <li><a href="{% url 'accounts_login' %}"><i class="fa fa-lock"></i> Login</a></li>
                           <li><a href="{% url 'signup' %}"><i class="fa fa-user"></i> Sign Up</a></li>
                           {% endif %}
                           <!--<li><a href="{% url "account_login" %}">Login</a></li>-->
                        </ul>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="col-sm-3">
               <div class="search_box pull-right">
                  <div class="nav nav-pills">
                     <form method="get" action="{% url 'search' %}">{% csrf_token %}
                        <input id="search" type="text" placeholder="Search" name="search"/>
                        <button type="submit" class="btn btn-primary">Search</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--/header-bottom-->
      <!--/header-middle-->
      {% block content %}
      {% endblock %}
      <footer id="footer">
         <!--Footer-->
         <div class="footer-top">
            <div class="container">
               <div class="row">
                  <div class="col-sm-2">
                     <div class="companyinfo">
                        <h2><span>e</span>-shopper</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor</p>
                     </div>
                  </div>
                  <div class="col-sm-7">
                     <div class="col-sm-3">
                        <div class="video-gallery text-center">
                           <a href="#">
                              <div class="iframe-img">
                                 <img src='{% static "images/home/iframe1.png" %}' alt="" />
                              </div>
                              <div class="overlay-icon">
                                 <i class="fa fa-play-circle-o"></i>
                              </div>
                           </a>
                           <p>Circle of Hands</p>
                           <h2>24 DEC 2014</h2>
                        </div>
                     </div>
                     <div class="col-sm-3">
                        <div class="video-gallery text-center">
                           <a href="#">
                              <div class="iframe-img">
                                 <img src='{% static "images/home/iframe2.png" %}' alt="" />
                              </div>
                              <div class="overlay-icon">
                                 <i class="fa fa-play-circle-o"></i>
                              </div>
                           </a>
                           <p>Circle of Hands</p>
                           <h2>24 DEC 2014</h2>
                        </div>
                     </div>
                     <div class="col-sm-3">
                        <div class="video-gallery text-center">
                           <a href="#">
                              <div class="iframe-img">
                                 <img src='{% static "images/home/iframe3.png" %}' alt="" />
                              </div>
                              <div class="overlay-icon">
                                 <i class="fa fa-play-circle-o"></i>
                              </div>
                           </a>
                           <p>Circle of Hands</p>
                           <h2>24 DEC 2014</h2>
                        </div>
                     </div>
                     <div class="col-sm-3">
                        <div class="video-gallery text-center">
                           <a href="#">
                              <div class="iframe-img">
                                 <img src='{% static "images/home/iframe4.png" %}' alt="" />
                              </div>
                              <div class="overlay-icon">
                                 <i class="fa fa-play-circle-o"></i>
                              </div>
                           </a>
                           <p>Circle of Hands</p>
                           <h2>24 DEC 2014</h2>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="address">
                        <img src='{% static "images/home/map.png" %}' alt="" />
                        <p>505 S Atlantic Ave Virginia Beach, VA(Virginia)</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-widget">
            <div class="container">
               <div class="row">
                  <div class="col-sm-2">
                     <div class="single-widget">
                        <h2>Service</h2>
                        <ul class="nav nav-pills nav-stacked">
                           <li><a href="#">Contact Us</a></li>
                           <li><a href="#">Order Status</a></li>
                           <li><a href="#">Change Location</a></li>
                           <li><a href="#">FAQ’s</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm-2">
                     <div class="single-widget">
                        <h2>Quock Shop</h2>
                        <ul class="nav nav-pills nav-stacked">
                           <li><a href="#">T-Shirt</a></li>
                           <li><a href="#">Mens</a></li>
                           <li><a href="#">Womens</a></li>
                           <li><a href="#">Gift Cards</a></li>
                           <li><a href="#">Shoes</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm-2">
                     <div class="single-widget">
                        <h2>Policies</h2>
                        <ul class="nav nav-pills nav-stacked">
                           <li><a href="#">Terms of Use</a></li>
                           <li><a href="#">Privecy Policy</a></li>
                           <li><a href="#">Refund Policy</a></li>
                           <li><a href="#">Billing System</a></li>
                           <li><a href="#">Ticket System</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm-2">
                     <div class="single-widget">
                        <h2>About Shopper</h2>
                        <ul class="nav nav-pills nav-stacked">
                           <li><a href="#">Company Information</a></li>
                           <li><a href="#">Careers</a></li>
                           <li><a href="#">Store Location</a></li>
                           <li><a href="#">Affillate Program</a></li>
                           <li><a href="#">Copyright</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm-3 col-sm-offset-1">
                     <div class="single-widget">
                        <h2>About Shopper</h2>
                        <form action="#" class="searchform">
                           <input type="text" placeholder="Your email address" />
                           <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                           <p>Get the most recent updates from <br />our site and be updated your self...</p>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-bottom">
            <div class="container">
               <div class="row">
                  <p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
                  <p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
               </div>
            </div>
         </div>
      </footer>
      <!--/Footer-->
      <script src='{% static "js/jquery.js" %}'></script>
      <script src='{% static "js/bootstrap.min.js" %}'></script>
      <script src='{% static "js/jquery.scrollUp.min.js" %}'></script>
      <script src='{% static "js/price-range.js" %}'></script>
      <script src='{% static "js/jquery.prettyPhoto.js" %}'></script>
      <script src='{% static "js/main.js" %}'></script>
      <script src="http://code.jquery.com/jquery.js"></script>
      <script src='{% static "js/jquery.js" %}'></script>
      <script src='{% static "js/bootstrap.min.js" %}'></script>
      <script src='{% static "js/jquery-1.10.2.js" %}'></script>
      <script src='{% static "js/jquery-ui.js" %}'></script>
      <script src='{% static "js/eshopper.js" %}'></script>
      <script>
         $(document).ready(function(){
             $("#search").change(function(event){
                var val = document.getElementById("search").value;
                 $.ajax({
                     url: '{% url "search" %}',
                     type: 'POST',
                     data: {key: val},
                     dataType: 'json',
                     success: function(data){
                         $("#search").autocomplete({
                           source: data['key']
                         });
                     }
                 })
             });
         });
         $(document).ready(function(){
               var total_click = 0;
               $('#load_more').click(function(){
                  if(total_click < {{ request.page }}){
                   total_click ++;
                 $.ajax({
                     url: "{% url 'load_more' %}",
                     type: 'POST',
                     data: { key: total_click },
                     dataType: 'json',
                     success: function(data){
                         $.each(data['key'], function(idx, obj){
                         var template_string = '<div class="col-sm-4">'
                     +'<div class="product-image-wrapper">'
                        +'<div class="single-products">'
                           +'<div class="productinfo text-center">'
                              +'<img src="/static/'+obj.image+'" alt="" />'
                              +'<h2>$'+obj.unit_price+'</h2>'
                              +'<p>'+obj.name+'</p>'
                              +'<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>'+
                           '</div>'
                           +'<div class="product-overlay">'
                              +'<div class="overlay-content">'
                                 +'<h2>$'+obj.unit_price+'</h2>'
                                 +'<p> </p>'
                                 +'<form method="post" action="/en/shop/cart/">'
                                    +'<input type="hidden" name="add_item_id" value="'+obj.id+'">'
                                    +'<button type="submit" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart">'+
                                    '</i>Add to cart</button>'+
                                 '</form>'
                              +'</div>'
                           +'</div>'
                        +'</div>'
                        +'<div class="choose">'
                           +'<ul class="nav nav-pills nav-justified">'
                              +'<li>'
                                 +'<form action="/en/wishlist/add/" method="post">'
                                    +'<input name="item" value="'+obj.id+'" type="hidden">'
                                    +'<a href="#" onclick="$(this).closest("form").submit()"><i class="fa fa-plus-square"></i>Add to wishlist</a>'
                                 +'</form>'
                              +'</li>'
                              +'<li><a href="/en/shop/products/'+obj.slug+'"><i class="fa fa-plus-square"></i>Get Details</a></li>'
                           +'</ul>'
                        +'</div>'
                     +'</div>'
                  +'</div>';
                         $('#products').append(template_string);
                      });
                     }
                 });
             }
         });
         });
      </script>
      {% render_block "js" %}
   </body>
</html>