{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load url from future %}
{% load wishlist_tags %}
{% block content %}
<div>
   <section>
      <div class="container">
         <div class="row">
            <div class="col-sm-3">
               <div class="left-sidebar">
                  <h2>Category</h2>
                  <div class="panel-group category-products" id="accordian">
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                              <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                              Sportswear
                              </a>
                           </h4>
                        </div>
                        <div id="sportswear" class="panel-collapse collapse">
                           <div class="panel-body">
                              <ul>
                                 <li><a href="#">Nike </a></li>
                                 <li><a href="#">Under Armour </a></li>
                                 <li><a href="#">Adidas </a></li>
                                 <li><a href="#">Puma</a></li>
                                 <li><a href="#">ASICS </a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                              <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                              Mens
                              </a>
                           </h4>
                        </div>
                        <div id="mens" class="panel-collapse collapse">
                           <div class="panel-body">
                              <ul>
                                 <li><a href="#">Fendi</a></li>
                                 <li><a href="#">Guess</a></li>
                                 <li><a href="#">Valentino</a></li>
                                 <li><a href="#">Dior</a></li>
                                 <li><a href="#">Versace</a></li>
                                 <li><a href="#">Armani</a></li>
                                 <li><a href="#">Prada</a></li>
                                 <li><a href="#">Dolce and Gabbana</a></li>
                                 <li><a href="#">Chanel</a></li>
                                 <li><a href="#">Gucci</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordian" href="#womens">
                              <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                              Womens
                              </a>
                           </h4>
                        </div>
                        <div id="womens" class="panel-collapse collapse">
                           <div class="panel-body">
                              <ul>
                                 <li><a href="#">Fendi</a></li>
                                 <li><a href="#">Guess</a></li>
                                 <li><a href="#">Valentino</a></li>
                                 <li><a href="#">Dior</a></li>
                                 <li><a href="#">Versace</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title"><a href="#">Kids</a></h4>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title"><a href="#">Fashion</a></h4>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title"><a href="#">Households</a></h4>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title"><a href="#">Interiors</a></h4>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title"><a href="#">Clothing</a></h4>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title"><a href="#">Bags</a></h4>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title"><a href="#">Shoes</a></h4>
                        </div>
                     </div>
                  </div>
                  <!--/category-products-->
                  <div class="brands_products">
                     <!--brands_products-->
                     <h2>Brands</h2>
                     <div class="brands-name">
                        <ul class="nav nav-pills nav-stacked">
                           <li><a href="#"> <span class="pull-right">(50)</span>Acne</a></li>
                           <li><a href="#"> <span class="pull-right">(56)</span>Grüne Erde</a></li>
                           <li><a href="#"> <span class="pull-right">(27)</span>Albiro</a></li>
                           <li><a href="#"> <span class="pull-right">(32)</span>Ronhill</a></li>
                           <li><a href="#"> <span class="pull-right">(5)</span>Oddmolly</a></li>
                           <li><a href="#"> <span class="pull-right">(9)</span>Boudestijn</a></li>
                           <li><a href="#"> <span class="pull-right">(4)</span>Rösch creative culture</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-sm-9 padding-right">
               <div class="features_items">
                  <!--features_items-->
                  <h2 class="title text-center">Search Results</h2>
                  {% if search_products %}
                  <div class="shopper-info">
                     <p>Results for search query "{{ search_key }}"</p>
                  </div>
                  {% for product in search_products %}
                  <div class="col-sm-4">
                     <div class="product-image-wrapper">
                        <div class="single-products">
                           <div class="productinfo text-center">
                              <img src='{% static "images/home/product1.jpg" %}' alt="" />
                              {#											<img src='{% static "images/home/product1.jpg" %}' alt="" />#}
                              <h2>${{ product.unit_price }}</h2>
                              <p>{{ product.name }}</p>
                              <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                           </div>
                           <div class="product-overlay">
                              <div class="overlay-content">
                                 <h2>${{ product.unit_price }}</h2>
                                 <p> {{ product.name }}</p>
                                 <form method="post" action="{% url 'cart' %}">{% csrf_token %}
                                    <input type="hidden" name="add_item_id" value="{{ product.id }}">
                                    <button type="submit" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart">
                                    </i>Add to cart</button>
                                 </form>
                              </div>
                           </div>
                        </div>
                        <div class="choose">
                           <ul class="nav nav-pills nav-justified">
                              <li>
                                 <form action="/en/wishlist/add/" method="post">
                                    <input name="item" value="{{ product.id }}" type="hidden">{% csrf_token %}
                                    <a href="#" onclick="$(this).closest('form').submit()"><i class="fa fa-plus-square"></i>Add to wishlist</a>
                                 </form>
                              </li>
                              <li><a href="{% url 'product_detail' product.slug %}"><i class="fa fa-plus-square"></i>Get Details</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  {% endfor %}
                  {% else %}
                  <div class="shopper-info">
                     <p>No results found for search query "{{ search_key }}"</p>
                  </div>
                  {% endif %}
               </div>
            </div>
         </div>
      </div>
   </section>
</div>
{% endblock %}