{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert {% if message.level == 40 %}alert-danger{% else %} alert-success {% endif %} alert-dismissible" role="alert">
   <button type="button" class="close" data-dismiss="alert" onclick="$('.alert').hide()" aria-label="Close">X</button>
   <center>{{ message }}</center>
</div>
{% endfor %}
{% endif %}
<section id="form">
   <div class="container">
      <div class="row">
         <div class="col-sm-4">
            <div class="signup-form">
               <!--sign up form-->
               <h2>New User Signup!</h2>
               <form method="post" action="{% url 'accounts_signup' %}">
                  {% csrf_token %}
                  {{ user_form.as_p }}
                  <input type="hidden" name="next" value="{{ request.GET.next }}" />
                  <button type="submit" class="btn btn-default">Submit</button>
               </form>
               <br>
               <label class="signup"><a href="{% url 'accounts_login' %}">Go back to Login page</a></label>
            </div>
            <!--/sign up form-->
         </div>
      </div>
   </div>
</section>
{% endblock %}