{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load shop_tags %}
{% load url from future %}
{% block content %}
{% if cart_items %}
<section class="cart_items">
   <div class="container">
      <div class="breadcrumbs">
         <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Shopping Cart</li>
         </ol>
      </div>
      <div class="table-responsive cart_info">
         <form method="post" action="{% url 'cart_update' %}">
            {% csrf_token %}
            {{ formset.management_form }}
            <table class="table table-condensed">
               <thead>
                  <tr class="cart_menu">
                     <td class="image">Item</td>
                     <td class="price">Price</td>
                     <td class="quantity">Quantity</td>
                     <td class="total">Total</td>
                  </tr>
               </thead>
               <tbody>
                  {% for form in formset %}
                  {% with form.quantity as field %}
                  <tr>
                     <td>{{ form.instance.product.get_name }}</td>
                     <td>{{ form.instance.product.get_price }}</td>
                     <td>
                        {{ form.id }}
                        {{ field.errors }}
                        {{ field }}
                     </td>
                     <td class="cart_total_price">{{ form.instance.line_subtotal }}</td>
                  </tr>
                  {% for extra_price_field in form.instance.extra_price_fields %}
                  <tr>
                     <td colspan="2">&nbsp;</td>
                     <td>{{ extra_price_field.0 }}</td>
                     <td>{{ extra_price_field.1 }}</td>
                  </tr>
                  {% endfor %}
                  <tr>
                     <td colspan="2">&nbsp;</td>
                     <td>Line Total:</td>
                     <td>{{ form.instance.line_total }}</td>
                  </tr>
                  {% endwith %}
                  {% endfor %}
                  <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><button type="submit" style="float: right" class="btn btn-default add-to-cart">Update</button></td>
                  </tr>
               </tbody>
            </table>
         </form>
      </div>
   </div>
</section>
<!--/#cart_items-->
<section id="do_action">
   <div class="container">
      <div class="heading">
         <h3>What would you like to do next?</h3>
         <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
      </div>
      <div class="row">
         <div class="col-sm-6">
            <div class="chose_area">
               <ul class="user_option">
                  <li>
                     <input type="checkbox">
                     <label>Use Coupon Code</label>
                  </li>
                  <li>
                     <input type="checkbox">
                     <label>Use Gift Voucher</label>
                  </li>
                  <li>
                     <input type="checkbox">
                     <label>Estimate Shipping & Taxes</label>
                  </li>
               </ul>
               <ul class="user_info">
                  <li class="single_field">
                     <label>Country:</label>
                     <select>
                        <option>United States</option>
                        <option>Bangladesh</option>
                        <option>UK</option>
                        <option>India</option>
                        <option>Pakistan</option>
                        <option>Ucrane</option>
                        <option>Canada</option>
                        <option>Dubai</option>
                     </select>
                  </li>
                  <li class="single_field">
                     <label>Region / State:</label>
                     <select>
                        <option>Select</option>
                        <option>Dhaka</option>
                        <option>London</option>
                        <option>Dillih</option>
                        <option>Lahore</option>
                        <option>Alaska</option>
                        <option>Canada</option>
                        <option>Dubai</option>
                     </select>
                  </li>
                  <li class="single_field zip-field">
                     <label>Zip Code:</label>
                     <input type="text">
                  </li>
               </ul>
               <a class="btn btn-default update" href="">Get Quotes</a>
               <a class="btn btn-default check_out" href="">Continue</a>
            </div>
         </div>
         <div class="col-sm-6">
            <div class="total_area">
               <ul>
                  <li>Cart Sub Total <span>{{ cart.subtotal_price }}</span></li>
                  <li>Eco Tax <span>$0</span></li>
                  <li>Shipping Cost <span>Free</span></li>
                  <li>Total <span>{{ cart.total_price }}</span></li>
               </ul>
               <form action="{% url 'cart_delete' %}" method="post">{% csrf_token %}
                  <button type="submit" class="btn btn-primary">Empty Cart</button>
                  <a class="btn btn-primary" href="{% url 'checkout' %}">Check Out</a>
               </form>
            </div>
         </div>
      </div>
   </div>
</section>
{% else %}
<section>
   <p>Cart is empty</p>
   <a href="/">Add products to Cart</a>
</section>
{% endif %}
{% endblock %}